asgiref
boto3
botocore
certifi
charset-normalizer
Django
djangorestframework
idna
instaloader
jmespath
python-dateutil
python-dotenv
requests
s3transfer
six
sqlparse
typing_extensions
urllib3
gunicorn
